<div class='post-card'>
  <div class='post-info'>
    <h2> <%= post.title %> </h2>
    <p> <%= post.comments_counter%> comments, <%= post.likes_counter%> likes </p>
  </div>
  <p> <%= post.text %> </p>
</div>