<section id='post'>
  <div id='post-card-full'>
  </div>
  <div id='comments'>
    <% @comments.each do |comment| %>
      <p> <%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</section>