@import './variables.scss';

#users {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  max-width: 600px;
  margin: 12px;
  padding: 15px;
  gap: 5%;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  background-color: $main-color;
  filter: grayscale(85%);

  &:visited {
    color: inherit;
  }

  &:hover {
    transform: scale(1.01);
    filter: grayscale(0%)
  }

  img {
    border: 2px solid;
  }
}

#user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 8px;
}
